Django>=5.2,<5.3
djangorestframework>=3.16,<3.17
bcrypt>=4.3,<6
psycopg[binary]>=3.2,<4
djangorestframework-simplejwt[crypto]>=5.5,<6
django-cors-headers>=4.7,<5
python-dotenv>=1.1,<2
whitenoise>=6.9,<7
waitress>=3.0,<4
